.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: 1fr 1fr; 
  height: 100vh;
  width: 100vw; */

  overflow: scroll;
  overflow-x: hidden !important;

}

.left {
  background: rgb(175, 255, 191);
  /* display: grid;
  grid-template-rows: 67% 33%; */
  width: 130%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.screenshot {
  margin-bottom: 15px;
  line-height: .5em;
  color: #006600;
  text-align: center;
}

.mainScore {
  margin-top: 5%;
  margin-bottom: 170px;
  width: 450px;
  height: 290px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pledgeName {
  color: black;
  font-size: 1em;
  /* border-bottom: 2px solid black; */
  font-weight: bold;
}

.pledgeEx {
  color: black;  
  font-size: .9em;
  font-weight: bold;
}

.pledgeCont {
  margin-bottom: 20px;
  text-align: center;
}

.scoreContainer {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.leftCircle {
  height: 200px;
  width: 100px;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  left: 0;
  background-color: #ff7676;
  cursor: pointer;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.leftCircle:hover {
  background-color: #b65454;
}

.rightCircle {
  cursor: pointer;
  height: 200px;
  width: 100px;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  background-color: rgb(60, 158, 255);

  right: 0;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.rightCircle:hover {
  background-color: rgb(39, 105, 171);
}
.scoreContainer > span {
  cursor: pointer;
  position: absolute;
  color: white;
  z-index: 1;
  font-size: 30px;
}

.personalScore {
  width: 150px;
  height: 150px;
  /* border: solid 1px #555; */
  background-color: white;
  /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6); */
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  font-weight: bold;
  z-index: 1;
}

.personalShadow {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 5px black;
}

.secondaryScores {
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
}

.smallerScoreContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallerScoreName {
  color: black;
  font-size: 14px;
  margin-top: 1.5vh;
  font-weight: bold;
  padding-bottom: 0.5vh;
  /* border-bottom: 2px solid black; */
}
.smallerScoreBorder {
  width: 80px;
  height: 80px;
  /* background-color: white; */
  border-radius: 80px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #d0c9ea 50%,
    #d0c9ea 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.smallerScore {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}

.leftScore {
  bottom: -35%;
  left: 15%;
}

.middleScore {
  bottom: -41%;
}

.rightScore {
  bottom: -35%;
  right: 15%;
}

.rightSection {
  width: 100%;
  background-color: #1b4079;
  color: white;
}
