.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  overflow-y: scroll;

  height: 100vh;

  background: rgb(175, 255, 191);
  /* border: 3px dashed red; */
}

.pledge {
  width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border: 2px solid #d0c9ea;
  border-radius: 20px;
  padding: 20px;
  height: 4rem;
  font-size: 1.1rem;

  margin: 1vh;

  color: black;
}

.pledgeVal {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 5px;
}

.title {
  border-bottom: 3px solid pink;
  padding: 5px;
  padding-left: 20px;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.alignRight {
  align-self: flex-end;
  margin-top: 50px !important;
  margin-right: 50px !important;
}

/* --niceOrange: #ff8a00; */
/* --nicePurple: #da1b60; */

.checklistWrapper {
}

.card {
  /* align-self: flex-start; */
  margin: 5px;
  /* align-self: flex-end; */
  border-radius: 20px;
  background: white;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.cardTitle {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background: #d0c9ea;
  color: white;
  padding: 7px;
  font-weight: bold;
  font-size: 2rem;
}

.cardContent {
  padding: 20px;
}
