.homeWrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
  height: 100vh;
  width: 100vw;
}

.left {
  background: rgb(0, 255, 0, 0.5);
  /* display: grid;
  grid-template-rows: 67% 33%; */
  position: relative;
  height: 100%;
  width: 100%;
}

.mainScore {
  margin-top: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personalScore {
  width: 50vh;
  height: 50vh;
  /* border: solid 1px #555; */
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  border-radius: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 220px;
  font-weight: bold;
}

.personalShadow {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 5px black;
}

.secondaryScores {
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
}

.smallerScoreBorder {
  width: 18vh;
  height: 18vh;
  /* background-color: white; */
  border-radius: 9vh;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #d0c9ea 50%,
    #d0c9ea 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.smallerScore {
  width: 16vh;
  height: 16vh;
  border-radius: 8vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.right > * {
  /* border: 1px solid red; */
}

.leftScore {
  bottom: -29%;
  left: 15%;
}

.middleScore {
  bottom: -42%;
}

.rightScore {
  bottom: -29%;
  right: 15%;
}
