.login {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 35%;
  transform: translate(-50%, -65%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: dotted white 3px;
  border-radius: 25px;
  padding: 20px;
}

.form {
  width: 20vw;
  margin-bottom: 1vh;
}

.loginWrapper {
}
