.login {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 35%;
  transform: translate(-50%, -65%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: dotted white 3px;
  border-radius: 25px;
  padding: 20px;
}

.form {
  width: 20vw;
  margin-bottom: 1vh;
}








.loginWrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  background: rgba(0, 255, 0, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid red; */
}

.right {
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  /* border: 1px dotted blue; */
}

.right > * {
  /* text-align: center; */
  /* height: 20px; */
  
  /* border: 1px solid red; */
}

input[type=text] {
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius:4px;
  box-sizing: border-box;
  /* max-width: 300px; */
}

.loginForm > input[type=text] {
  margin-right: 20px;
}

.signupBtn {
  text-align: center;
  color: white;
  background-color: rgba(0, 255, 0, 0.7);
  min-width: 200px;
  border-radius: 20px;
  padding: 7px;
  font-weight: bolder;
  cursor: pointer;
}

.loginBtn {
  text-align: center;
  color: rgba(0, 255, 0, 0.8);
  border: 2px solid rgba(0, 255, 0, 0.8);
  min-width: 100px;
  border-radius: 20px;
  padding: 8px 0px;
  font-weight: bolder;
  cursor: pointer;
}

.loginBtn:hover {
  background: rgba(0, 255, 0, 0.1);
}

.signupBtn:hover {
  background-color: rgba(0, 255, 0, 1.0);
}

h2 {
  background: white;
  z-index: 200;
}

.loginForm {
  position: absolute;
  top: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100%;
 
  /* border: 1px solid red; */
}
img {
  z-index: 2;
}

@keyframes fadeIn {
  0%   { 
    transform: translateY(-100%);
    opacity: 0; 
  }
  100% { 
    transform: translateY(0%);
    opacity: 1; 
  }
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid red; */
}

.signupForm > * {
  min-width: 350px;
  border: 1px solid red;
}

.signupWrapper {
  /* animation: fadeIn 2s 1; */
}

.pledgeCheck {
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 1vh;
   
  border: 2px solid #D0C9EA;
}

.pledgeCheck:hover {
  /* border: white; */
  color: white;
  background: #D0C9EA;
  cursor: pointer;
}