dl,
dt,
dd,
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div,
h1,
p {
  font-family: Helvetica, Arial, sans-serif;
}

div {
  display: block;
}

ul {
  display: block;
  list-style-type: disc;
  padding: 0;
}

form {
  display: block;
}

button:focus {
  outline: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00c6a5; */
}
